.container{
    text-align: center;
}

@media (max-width: 1600px) {
    .card{
        width: 370px;
    }
}

@media (max-width: 1550px) {
    .card{
        width: 290px;
    }
}

@media (max-width: 1300px) {
    .card{
        width: 290px;
    }
    
}