.title{
  text-align: center;
}


.total{
  text-align: center;
}

.totalBalance{
  font-size: 35px;
}

.comparisons{
  font-size: 20px;
}

.spentBox{
  width: 100%;
}

.chooseBillionaire{
  width: 300px;
  margin-left: 20%;
}
.billionaireSelect{
  width: 40%; 
  margin-left: 20px;
}

.spendStats{
  line-height: 150%;
}

@media (max-width: 1400px) {
  .totalBalance{
    font-size: 30px;
  }
}

@media (max-width: 1300px) {
  .comparisons{
    font-size: 17px;
  }
  .spentBox{
    width: 80%;
  }
  .spendStats{
    line-height: 100%;
    font-size: 16px;
  }
}

@media (max-width: 1400px) {

  .comparisons{
    font-size: 17px;

  }
  .spentBox{
    width: 100%;
  }
  .chooseBillionaire{
    width: 400px;
    margin-left: 10%;
  }
  .billionaireSelect{
    width: 45%; 
    margin-left: 20px;
  }

}

@media (max-width: 400px) {

  .comparisons{
    font-size: 17px;

  }
  .spentBox{
    width: 100%;
  }
  .chooseBillionaire{
    width: 400px;
    margin-left: 10%;
  }
  .billionaireSelect{
    width: 100%; 
    margin-left: 20px;
  }

}

